#R临时文件
*.RData
*.RDataTmp
*.Rhistory
*.Ruserdata

#rds数据文件
*.rds

#结果文件夹全部忽略
results/

#数据子文件夹
data/GTEx_selected/
data/GTEx_clean/
data/GWAS/
data/external_gwas/
data/ld_ref/
data/GDCdata/
data/1kg.v3/

#大文件后缀
*.parquet
*.gz
*.tgz
*.tsv
*.bed
*.bim
*.fam
*.vcf
*.bam
*.sam
*.fastq
*.zip
*.tar

#系统垃圾
.DS_Store
Thumbs.db